.information {
      display: flex;
      gap: 25px;
      padding: 0 45px;
}
.wrapper-left-news {
      width: 70%;
}
.wrapper-detail {
      width: 100%;
      text-align: justify;
      padding: 0 11px;
      background: #ffffff;
}

.wrapper-infomation {
      width: 100%;
      min-height: 500px;
      background: #ffffff;
      display: flex;
      gap: 15px;
      margin-bottom: 25px;
}

.wrapper-left-information {
      width: 50%;
}

.wrapper-right-information {
      width: 50%;
      padding: 15px 0;
}

.wrapper-right-news {
      width: 30%;
      background: #ffffff;
}
